@charset "utf-8";

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.cenario{
  position: absolute;
  background-color: gray;
}
.obs{
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
}
.obstaculo{
  position: relative;
  height: 100%;
  width: 100%;
}

.jogador{
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
}
.sprite{
  position: relative;
  height: 100%;
  width: 100%;
}


