@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);

}
#selection{
  margin-bottom: 50px;
}

.btn-select{
  width: 0;
  height: 0;
  background-color: #fff;
  border: none;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 40px solid #1AC7D2;
  cursor: pointer;
}

#next{
  border-right-color: #C91111;
  transform: rotateY(180deg);
  margin-left: 40px;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.itens{
  height: 100px;
  width: 90px;
}
#confirm{
  max-width: 190px;
  min-width: 120px;
  max-height: 40px;
  min-height: 25px;
  color: #fff;
  font-size: 12pt;
  font-weight: 200;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fc1717;
  border: none;
  border-radius: 15px;
  box-shadow: 6px 4px 1px rgba(252, 23, 23, .6);
  cursor: pointer;
}
/*estilo imagem

*/
.person{
  height: 100px;
  width: 100px;
}
.carousel{
  margin: 30px;
  background-color: transparent;
}
#person1,#person3{
  position: relative;
  top: -25px;
  width: 70px;
  height: 70px;

}


